<header>
  <nav>
    <a href="/">MyBrary</a>
    <ul>
      <li><a href="/authors">All Authors</a></li>
      <li><a href="/authors/new">Add author</a></li>
      <!-- <li><a href="/authors"></a></li>
            <li><a href="/authors"></a></li> -->
    </ul>
  </nav>
</header>
