<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond@^4/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script defer src="../javascript/fileUpload.js"></script>
    <link id="main-css" rel="stylesheet" href="/styleSheets/main.css" type="" />
    <script defer src="../javascript/main.js"></script>
    <title>MyBrary</title>
  </head>
  <body>
    <div class="container">
      <%- include("../partials/header.ejs") %>
      <div class="inner-container">
        <%- include("../partials/errorMessage.ejs") %> <%-body%>
      </div>
    </div>
  </body>
</html>
