<h2 class="page-header">Recently Added</h2>
<div>
  <% books.forEach(book => { %>
  <a class="btn btn-primary" href="/books/<%= book.id %>">
    <img src="<%= book.coverImagePath %>" alt="" height="250" width="180" />
    <% }) %>
  </a>
</div>
