<h2>Recently Added</h2>
<div>
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id %>">
    <img src="<%= book.coverImagePath %>" alt="" height="250" width="180" />
    <% }) %>
  </a>
</div>
