:root {
  --color-btn-border: #000;
  --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
  --color-btn-primary-back: hsl(var(--color-base-hue), 100%, 83%);
  --color-btn-primary-back-dark: hsl(var(--color-base-hue), 100%, 70%);
  --color-btn-danger-text: #333;
  --color-btn-danger-back: hsl(var(--color-danger-hue), 100%, 83%);
  --color-btn-danger-back-dark: hsl(var(--color-danger-hue), 100%, 70%);
  --color-btn-warning-text: #666;
  --color-btn-warning-back: hsl(var(--color-warning-hue), 100%, 83%);
  --color-btn-warning-back-dark: hsl(var(--color-warning-hue), 100%, 73%);
  --color-btn-secondary-text: rgba(255, 255, 255, 0.8);
  --color-btn-secondary-back: hsl(var(--color-base-hue), 100%, 5%);
  --color-btn-secondary-back-dark: hsl(var(--color-base-hue), 100%, 10%);
}
.btn {
  border: 1px solid var(--color-btn-border);
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  font-family: "Libre Baskerville";
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.btn-primary {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-back);
}
.btn-primary:hover {
  color: var(--color-btn-primary-text);
  background-color: var(--color-btn-primary-back-dark);
}
.btn-danger {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-back);
}
.btn-danger:hover {
  color: var(--color-btn-danger-text);
  background-color: var(--color-btn-danger-back-dark);
}
.btn-warning {
  color: var(--color-btn-warning-text);
  background-color: var(--color-btn-warning-back);
}
.btn-warning:hover {
  color: var(--color-btn-warning-text);
  background-color: var(--color-btn-warning-back-dark);
}
.btn-secondary {
  color: var(--color-btn-secondary-text);
  background-color: var(--color-btn-secondary-back);
}
.btn-secondary:hover {
  color: var(--color-btn-secondary-text);
  background-color: var(--color-btn-secondary-back-dark);
}
.btn-row {
  display: flex;
  align-items: flex-start;
}
.btn-row > *:not(:first-child) {
  margin-left: 1rem;
}
